<html>
	<head>
		<title>블로그 post</title>
		<meta charset="utf-8"/>
	</head>
	<body>
		<div class="container">
			<h3>{{post.title}}</h3>
			<div class="content">{{post.content}}</div>
			<div>
				<p>category:{{post.category.name}}</p>
				<p>ctime:{{post.created_at}}</p>
			</div>
			<div class="comment_container">
				{% for comment in post.comment_set.all %}
					<div>{{comment.pk}} / {{comment.user}} / {{comment.created_at}}</div>
					<div>{{comment.content}}</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>